# バックエンド環境変数
# データベースのURL
DATABASE_URL="sqlite:///./test.db"

# シークレットキー
SECRET_KEY=secret_key

ALGORITHM=HS256

ACCESS_TOKEN_EXPRIRE_MINUTES=30

# allow_origins
ALLOW_ORIGINS=http://localhost:5173

# フロントエンド環境変数
# API URL
VITE_API_URL=http://localhost:8000