# バックエンド環境変数
# データベースのURL
DATABASE_URL="sqlite:///./test.db"

# シークレットキー
SECRET_KEY=secret_key

# allow_origins
ALLOW_ORIGINS=http://localhost:5173

# フロントエンド環境変数
# API URL
VITE_API_URL=http://localhost:8000